table.dataTable , table.dataTable {
	tbody th {padding: 10px 18px 10px 10px;}
}
.index-table {
	tbody {
		.odd {
			.sorting_1 {background-color:#f9f9f9!important;}
		}
		.even {
			.sorting_1 {background-color:#fff!important;}
		}
		// .td1 {background-color: $body-bg!important;}
	}
	thead {
		tr {
			td {border-bottom: 1px solid #ddd;}
		}
		.td1 {padding: 10px 18px 10px 10px;}
	}
	.td3,.td4,.td5,.td6,.td7,.td8,.td9 {text-align: right;}
	.dataTable {border-bottom: 1px solid #ddd;}
}
@media (max-width:1024px){
	.index-table {
		overflow-x: scroll; padding-bottom: 5px;
	}
}
